Regrouped_NSFW1
dataset
venv
# Ignore Python cache files
__pycache__/

# Ignore system files
.DS_Store

# Ignore model files and saved states
*.mlmodel
*.mlpackage/
*.keras
saved_model/

# Ignore CUDA keyring files
*.deb*

# Ignore any large data artifacts
dataset/

model_two_categories
model_five_categories
Model1-Test/
